<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cut-shot | NextGroups</title>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
<div th:each="groupResult:${nextGroups}">
    <h3> Category: [[${groupResult.category}]]</h3>
    <table th:each="group:${groupResult.groups}">
        <th align="left">Group [[${group.id}]]</th>
        <tr th:each="team:${group.teams}">
            <td>[[${team.toString()}]]</td>
        </tr>
        <br/>
    </table>
</div>
</body>
</html>